body {
    width: 98%;
    height: 100%;
}

#toolbar {
    width: 100%;
    height: 50px;
}

.halfbar {
    height: 100%;
    width: 50%;
    float: left;
}

#listing-image {
    background: url("./clothes1.jpg");
    height: 600px;
} 